<%- include('include/header.ejs') %>

<div class="main">
  <div class="header">
    <%- include('include/nav.ejs') %>
    <div class="tittle">
      <h1>SAÚDE</h1>
      <h2>Agenda de Consultas</h2>
    </div>
    <div class="triangle-right-home"></div>
    <div class="triangle-left-home"></div>
  </div>
  <div class="container">
    <div class="row">
      <div>
        <button>
          <a href="">
            <span class="material-symbols-outlined">person</span>
          </a>
        </button>
        <span>Minhas consultas</span>
      </div>
      <div>
        <button>
          <a href="">
            <span class="material-symbols-outlined">calendar_month</span>
          </a>
        </button>
        <span>Marcar consulta</span>
      </div>
      <div>
        <button>
          <a href="">
            <span class="material-symbols-outlined">location_on</span>
          </a>
        </button>
        <span>Consultas agendadas</span>
      </div>
    </div>
    <div class="row">
      <div>
        <button>
          <a href="">
            <span class="material-symbols-outlined">handshake</span>
          </a>
        </button>
        <span>Quem somos nós?</span>
      </div>
      <div>
        <button>
          <a href="">
            <span class="material-symbols-outlined">handyman</span>
          </a>
        </button>
        <span>Suporte</span>
      </div>
    </div>
  </div>
</div>

<%- include('include/footer.ejs') %>