<%- include('include/header') %>

<header>
  <nav>
    <a href="/previus">
      <span class="material-symbols-outlined">undo</span>
    </a>
  </nav>
  <div class="triangle-right-login"></div>
  <div class="triangle-left-login"></div>
</header>
<main>
  <div class="tittle-login">
    <h1>Login</h1>
    <span>Área do paciente</span>
  </div>
  <div class="body-login">
    <h2>Seja bem vindo!</h2>

    <form action="/login" method="post" id="login-form">
      <input type="text" name="cpf" id="cpf" placeholder="Informe seu CPF ou Email">
      <input type="password" name="password" id="password" placeholder="Informe sua senha">

      <button type="submit" id="next">Avançar</button>
      <div class="links-auxiliares">
        <button>Esqueci a senha</button>
        <button>Cadastrar-se</button>
      </div>
    </form>
  </div>
</main>
<footer>
  <a href="/help">
    <span>?</span>
    <span>Precisa de ajuda?</span>
  </a>
</footer>

<%- include('include/footer') %>
